*{
    margin: 0;
    padding: 0;
}

h1{
    color: #8f491a;
    font-size: 400%;
    font-family: 'Franklin Gothic Medium';
    margin-top: 1%;
    text-align: center;
}

h2{
    margin-top: 0.5%;
    color: #8f491a;
    font-size: 250%;
    text-align: center;
}

#main{
    display: block;
    margin-top: 4%;
    margin-left: 25%;
    font-weight: 900;
}
label{
    display: block;
    align-self: center;
    font-size: 25px;
    color: sienna;
    margin-bottom: 2%;
}

input{
    height: 25px;
    background-color: transparent;
    margin-right: 450px;
}

#initial-price{
    margin-left: 9.5%;
}

#stocks-quantity{
    margin-left: 4.5%;
}

#current-price{
    margin-left: 8.2%;
}

#submit-btn{
    padding: 5px;
    height: 40px;
    width: 100px;
    margin-top: 20px;
    margin-left: 80px;
    color: #8f491a;
    font-weight: 700;
}

#result{
    margin-top: 4%;
    margin-left: 25%;
    font-size: 40px;
    color: #8f491a;
    font-weight: 700;
}